.direction__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
    padding-left: 315px;
}

@media screen and (max-width: 1440px) {
    .direction__title {
        padding-left: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .direction__title {
        padding-left: 100px;
    }
}

@media screen and (max-width: 768px) {
    .direction__title {
        padding-left: 20px;
        font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    .direction__title {
        font-size: 24px;
    }
}