.timetable__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .timetable__price {
        font-size: 30px;
    }
}