.bodao__description {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 85px;
    margin: 0;
    max-width: 330px;
}

@media screen and (max-width: 768px) {
    .bodao__description {
        font-size: 16px;
        padding-top: 60px;
        max-width: 222px;
    }
}

@media screen and (max-width: 425px) {
    .bodao__description {
        font-size: 14px;
        padding-left: 20px;
        max-width: 320px;
        padding-top: 9px;
    }
}