.coach__description {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
    position: absolute;
    bottom: -30px;
}

@media screen and (max-width: 1440px) {
    .coach__description {
        font-size: 56px;
    }
}

@media screen and (max-width: 1024px) {
    .coach__description {
        font-size: 45px;
    }
}

@media screen and (max-width: 768px) {
    .coach__description {
        font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    .coach__description {
        bottom: -20px;
        font-size: 30px;
    }
}