.school__content {
    background-image: url(../../../images/school.png);
    width: 650px;
    height: 800px;
    position: relative;
}

@media screen and (max-width: 1440px) {
    .school__content {
        width: 560px;
    }
}

@media screen and (max-width: 1024px) {
    .school__content {
        width: 400px;
    }
}

@media screen and (max-width: 795px) {
    .school__content {
        background-size: 354px 436px;
        background-repeat: no-repeat;
        height: 436px;
    }
}

@media screen and (max-width: 425px) {
    .school__content {
        width: 320px;
        height: 300px;
        background-size: 320px 300px;
    }
}